@use 'sass:color';
@use '../common/variables' as v;

.weather-widget {
	margin-top: 0.5rem;
	padding: 1.5rem;
	text-align: center;
	color: var(--text-primary);

	h3 {
		font-size: 1.3rem;
		margin-bottom: 1rem;
		color: var(--text-primary);
	}

	p {
		font-size: 1rem;
		margin-bottom: 0.5rem;
		color: var(--text-secondary);
	}

	img {
	
		width: 60px;
		height: 60px;
	}

    @media (max-width: 767px) {
        margin-top: 0;
        
    }

	&.error-message {
		color: v.$text-error;
		background-color: v.$bg-error;
		border: 1px solid v.$text-error;
	}

	&.loading-indicator {
		color: var(--text-light);
	}
	.weather-warning {
		font-weight: bold;
		padding: 5px 10px;
		border-radius: 5px;
		margin-top: 10px;
		font-size: 0.9em;
	}

	.frost-warning {
		color: v.$primary-blue;
		background-color: color.adjust(v.$primary-blue, $lightness: 30%);
		border: 1px solid v.$primary-blue;
	}

	.heavy-rain-warning,
	.heavy-snow-warning {
		color: v.$error-red;
		background-color: v.$bg-error;
		border: 1px solid v.$error-red;
	}
}
